@using System.Activities.Statements
@using Minesweeper.Models

@{
    Layout = null;
    var Game = GameModel.GetGameModelInstance();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width initial-scale=1"/>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet"/>
    <script type="text/javascript" src="~/Content/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
    <title>Game</title>
</head>
<body>
    
<div id="navbar">
    @Html.Partial("NavbarPartialView")
</div>

<div class="container" align="center" style="margin-top: 5%">
    <h3 id="timer">
        @Game.Secs<br>
        Seconds
    </h3>
</div>
         
<div id="GameBoard">
    @Html.Partial("GameBoard",(Object)"Ongoing")        
</div>

<script>

    var sec = @Game.Secs;

    // toggles flag 
    function flag(row, col, beenVisited) {
        
        var curBtn = $('#' + row.toString() + "\\," + col.toString());
               
        if (beenVisited === "False" && curBtn.text() !== "F") {
            $.post("/Game/Row/Col", { Row: row, Col: col });

            if (curBtn === "F") {
                curBtn.text(" ");
                curBtn.unbind('click').click();
            } else {
                 curBtn.text("F");
                 curBtn.on("click", (e) => { e.preventDefault()});
           }
        }

        return false;

    }

    function tileClick(row, col) {
            
        var curBtn = $('#' + row + "\\," + col);
        
        // stops user from clicking revealed tile
        if (curBtn.text() === " " || curBtn.text() !== "F") {
            var _href = curBtn.attr('href');
            var _secRemovedHref = _href.substr(0, _href.length - 1);
            curBtn.attr("href", _secRemovedHref + sec);
        } else {
            // disables clicking
            curBtn.click((event) => {
                event.preventDefault();
                return false;
            });
        }

    }
    

    // checks too see if page can be modified safely
    $(document).ready(function () {

        var sec = parseInt(@Game.Secs);

        $(this).bind("contextmenu", function (e) {

            e.preventDefault();

        });
       
        // stops timer if uri indicates lost or won
        if (document.location.pathname !== "/Game/lost" && document.location.pathname !== "/Game/won") {
            // updates timer every second
            setInterval(function() {
                $("#timer").html(++sec + "<br>Seconds");
            }, 1000);
        }
            
        else {

            if (document.location.pathname === "/Game/lost") {
                alert("You Lost");
            }
            if (document.location.pathname === "/Game/won") {
                alert("You Won");
            }

            if (confirm("Start New Game?")) {
                window.location = "/Game";
            }

        }

    });

</script>    

</body>
</html>
